<section class="block block--dark block--skewed-right block-showcase">
    <header class="block__header">
        <h2>User-Friendly Control Panel</h2>
    </header>
    <div class="container grid grid--1x2">
        <picture class="block-showcase__picture">
            <source type="image/webp"
                    srcset="images/ipad.webp 1x, images/ipad@x2.webp 2x"/>

            <source type="image/jpg"
                    srcset="images/ipad.png 1x, images/ipad@x2.png 2x"/>
            <img src="images/ipad@x2.png" alt="">
        </picture>
        <div class="block-showcase__content">
            <div>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                            <use xlink:href="Images/sprite.svg#snap"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title block__heading">Easy Start & Managed Updates</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eum impedit in laudantium
                            molestiae
                            perspiciatis quis rerum unde vitae voluptatem.
                        </p>
                    </div>
                </div>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                            <use xlink:href="Images/sprite.svg#growth"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title block__heading">Easy Start & Managed Updates</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eum impedit in laudantium
                            molestiae
                            perspiciatis quis rerum unde vitae voluptatem.
                        </p>
                    </div>
                </div>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                            <use xlink:href="Images/sprite.svg#wordpress"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title block__heading">Easy Start & Managed Updates</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eum impedit in laudantium
                            molestiae
                            perspiciatis quis rerum unde vitae voluptatem.
                        </p>
                    </div>
                </div>
            </div>
        </div>
</section>