<section class="block container">
    <header class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci earum eligendi hic itaque laborum natus
            pariatur, quaerat totam voluptas voluptatibus!</p>
    </header>
    <div>
        <div class="card card--secondary">
            <header class="card__header">Card Title</header>
            <div class="card__body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias consequatur ex fuga ipsa ipsam iste natus
                necessitatibus odit reprehenderit.
            </div>
        </div>
    </div>
</section>
<section class="block block--dark block--skewed-left">
    <div class="container">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci earum eligendi hic itaque laborum natus
            pariatur, quaerat totam voluptas voluptatibus!</p>
    </div>
</section>