<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsibles__heading">Item 1</h2>
        <svg class="icon icon--white collapsible__icon">
            <use xlink:href="Images/sprite.svg#chevron"></use>
        </svg>
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, asperiores deserunt excepturi fuga fugit
        molestiae nisi odit quae vel veritatis!
    </div>


</div>
<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsibles__heading">Item 1</h2>
        <svg class="icon icon--white collapsible__icon">
            <use xlink:href="Images/sprite.svg#chevron"></use>
        </svg>
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, asperiores deserunt excepturi fuga fugit
        molestiae nisi odit quae vel veritatis!
    </div>


</div>